{
    "http-basic": {
        "repo.magento.com": {
            "username": "${username}",
            "password": "${password}"
        }
    },
    "github-oauth": {
        "github.com": "${gh_token}"
    }
}